# --- Python Virtual Environment ---
# Ignore the actual environment folder
LangChain_env/
venv/
.venv/
env/

# --- API Keys and Secrets ---
# NEVER commit your keys to GitHub
.env

# --- Vector Database ---
# ChromaDB can get very large and is local data
chroma_db/

# --- Python System Junk ---
__pycache__/
*.py[cod]
*$py.class
.Python

# --- VS Code & OS Junk ---
.vscode/
.DS_Store
Thumbs.db

#  All pdf files
*.pdf

# Streamlit config files
.streamlit/